/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.footer-container{
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: white;
}

.description {
    text-align: center;
    font-size: 17px;
    font-family: 'Merienda', cursive;
}

.myName {
    text-decoration: none;
    color: rgb(255, 217, 0);
    font-weight: 500;
    font-size: 17px;
    margin-left: 8px;
    font-family: fantasy;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 10px;
}

.instaIcon {
    color: rgb(221, 94, 115);
    font-size: 30px;
    padding-right: 7.5px;
}

.ghIcon {
    font-size: 30px;
    padding-left: 7.5px;
    color: white;
}