
  .hero-container {
    background: url('../images/unibg2Resized.jpg') center center/cover no-repeat;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  /* neon effect */
  .neon {
    font-weight: 400;
    color: #fdd;
    text-shadow: 0 0 5px rgb(238, 13, 13),
      0 0 5px rgb(236, 19, 19),
      0 0 15px rgb(228, 24, 24);
  }

  /* animation */
  .animation {
    text-align: center;
    color: white;
    font-size: 10rem;
    font-weight: 600;
    line-height: 85px;
    letter-spacing: 10px;
    
    text-shadow: 10px 10px 25px rgb(180, 146, 44),
    -10px 10px 25px rgb(185, 155, 54),
    -10px -10px 25px rgb(197, 162, 46),
    10px -10px 25px rgb(0, 0, 0);


    animation: swing 3s linear infinite alternate;
  }
  
  @keyframes swing {
    from {
      transform: rotate(2.5deg);
    }
    to {
      transform: rotate(-2.5deg);
    }
  }

  /* Jad Uni animation */
  .jadUni {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 255, 255), #fff, rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: 70%;
    animation: animate 4s ease-in-out infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(1, 15, 92, 0.8);
    text-shadow: 2px 2px 1px rgba(199, 192, 192, 0.7);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  .hero-container > h3 {
    color: #fff;
    font-size: 50px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 9px;
    color: #fff;
    font-size: 52px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .hero-container > h2 {
    margin-top: 10px;
    color: #fff;
    font-size: 38px;
  }
  
@media screen and (max-width: 960px){
    .hero-container > h3 {
        font-size: 50px;
        text-align: center;
        margin-top: -150px;
      }
      .hero-container > p {
        font-size: 40px;
        margin-top: 10px;
      }
}

@media screen and (max-width: 768){
    .hero-container > h3 {
        font-size: 50px;
        margin-top: -100px;
      }

      .hero-container > p{
          font-size: 30px;
      }
}

  
@media screen and (max-width: 650px){
    .hero-container > h3 {
        font-size: 35px;
        margin-top: -150px;
    }

    .hero-container > p{
        font-size: 25px;
    }

    .hero-container > h2 {
      font-size: 30px;
    }
}

@media screen and (max-width: 420px){
    .hero-container > h3 {
        font-size: 35px;
        margin-top: -175px;
    }

    .hero-container > p{
        font-size: 22.5px;
    }

    .hero-container > h2 {
      font-size: 25px;
    }
}

@media screen and (max-width: 350px){
  .hero-container > h3 {
      font-size: 25px;
      margin-top: -175px;
  }

  .hero-container > p{
      font-size: 15px;
  }

  .hero-container > h2 {
    font-size: 20px;
  }
}

/* Button */

.bookBtn {
  float: left;
	min-width: 125px;
	max-width: 250px;
	display: block;
  margin: 1em;
  font-weight: 800;
	padding: 0.5em 1em;
  border: none;
  border-radius: 25px;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.bookBtn:focus {
  outline: none;
}


.button--nina {
	padding: 0 2em;
	background: #fffb02;
	color: rgb(0, 0, 0);
	overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.button--nina.button--inverted {
	background: rgb(0, 0, 0);
	color: #fffb02;
}
.button--nina > span {
	display: inline-block;
	padding: 1em 0;
	opacity: 0;
	color: #fffb02;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
  background: rgb(0, 0, 0);
	color: #fffb02;
}
.button--nina:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
.button--nina:hover > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}
.button--nina:hover > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}
.button--nina:hover > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}
.button--nina:hover > span:nth-child(5) {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}
.button--nina:hover > span:nth-child(6) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}
.button--nina:hover > span:nth-child(7) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.315s;
}
.button--nina:hover > span:nth-child(8) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}
.button--nina:hover > span:nth-child(9) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.405s;
}
.button--nina:hover > span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}